*{
    box-sizing: border-box;
}

body{
background-color: aliceblue;
}

section{
    width: 20%;
    float: left;
    margin-top: 180px;
    position: relative;
    right: -20%;
}

.sedans{
    background-color: #9AA899;
}

.suvs{
    background-color: #54577C;
}

.luxury{
    background-color: #4A7B9D;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    clear: both;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}