*{
    box-sizing: border-box;
}

body{
background-color: aliceblue;
}

/* Card Style */

section{
    width: 20%;
    float: left;
    margin-top: 180px;
    position: relative;
    right: -20%;
    font-family: 'Noto Serif', serif;
    padding: 20px;
}

.sedans{
    background-color: #9AA899;
}

.suvs{
    background-color: #54577C;
}

.luxury{
    background-color: #4A7B9D;
}

/* Card header */

.header{
    text-transform: uppercase;
    color: white;
}

/* button style */

button{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}

.sedanButton{
    color: #9AA899;
}

.suvButton{
    color: #54577C;
}

.luxuryButton{
    color: #4A7B9D;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    clear: both;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}